.form-wrapper{
    width: 100%;

    .input-container{
        margin: 0 0 20px;

        &:last-child{
            margin: 0;
        }

    }
} //form-wrapper

.input-container{

    &.full{
        input[type=text], input[type=password]{
            width: 100%;
        }
    }

    label{
        display: inline-block;
        width: 96%;
        margin: 0 0 5px;
        font-family: $font;
        font-size: 13px;
        text-align: left;
        @include anti-alias;
    }

    input[type=text], input[type=password]{
        display: inline-block;
        width: 96%;
        border: 1px solid rgba(0,0,0,0.2);
        font-family: $font;
        font-size: 12px;
        padding: 10px;
        @include  anti-alias;
    }

    input[type=submit]{
        background: $primary;
        display: block;
        width: 100%;
        border: none;
        font-family: $font;
        font-size: 12px;
        padding: 10px;
        color: #FFF;
        padding: 10px 15px;
        @include  anti-alias;
        @include border-radius(3px);
        @include transition(.2s);
        cursor: pointer;

        &:hover{
            background: $primary-hover;
        }

    }

} //input-container
