header{
    width: 100%;
    height: 60px;
    background: black;
    color: #FFF;
    padding: 10px;
    overflow: hidden;

    h1.logo{
        float: left;
    }

    nav{
        float: right;

        ul.navigation{
            list-style-type: none;

            li.navigation-item{
                display: inline-block;
                vertical-align: middle;

                a{
                    font-size: 14px;
                    color: #FFF;
                    text-decoration: none;
                    margin: 0 10px
                }

            } //li.navigation

        } //ul.navigation

    } //nav

} // header
